header {
	margin-bottom: 1px;
	padding: 12px 0;
	@extend %relative;
	@extend %bkgfff;

	.area {
		top: 50%;
		left: 0;
		margin-top: -22px;
		padding: 13px 14px;
		@extend %absolute;
		@extend %font-thirteen;
		@extend %color838383;

		&:after {
			content: '';
			top: 20px;
			right: 0;
			width: 0;
			height: 0;
			border: 4px solid transparent;
			border-top-color: #c8c8c8;
			@extend %absolute;
		}

		@media screen and ( min-width: 599px ) {
			& {
				margin-top: -24px;
				font-size: 16px;

				&:after {
					top: 22px;
					border-width: 5px;
				}
			}
		}
	}

	.image {
		width: 17.8%;
		margin: 0 auto;
	}

	.nav {
		top: 50%;
		right: 0;
		margin-top: -22px;
		width: 19px;
		height: 14px;
		padding: 15px;
		z-index: 10;
		@extend %absolute;

		i {
			top: 21px;
			left: 15px;
			width: 19px;
			height: 2px;
			background-color: #eb4a4a;
			border-radius: 2px;
			@extend %absolute;

			&:before {
				content: '';
				bottom: 6px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #eb4a4a;
				border-radius: 1px;
				@extend %absolute;
			}

			&:after {
				content: '';
				top: 6px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #eb4a4a;
				border-radius: 2px;
				@extend %absolute;
			}
		}
	}

	.nav-lists {
		top: 38px;
		right: 7px;
		width: 138px;
		background-color: rgba(51, 51, 51, 0.96);
		@extend %absolute;
		@extend %radiu;

		&:after {
			content: '';
			top: -3px;
			right: 16px;
			width: 0;
			height: 0;
			border-left: 7px solid rgba(51, 51, 51, 0.96);
			border-right: 7px solid transparent;
			border-bottom: 13px solid transparent;
			@extend %absolute;
			@include transform(60);
		}

		li {
			width: 85.5%;
			height: 43px;
			line-height: 43px;
			margin: 0 auto;
			border-top: 1px solid #535353;
			@extend %text-align;
			@extend %font-fourteen;
		}

		li:first-child {
			border-top: none;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			@extend %colorfff;
		}
	}
}

footer {
	padding-bottom: 26px;
	@extend %text-align;
	@extend %bkgfff;

	.advantage {
		padding: 20px 0 10px;
		@extend %flex-box;

		li {
			width: 33.33%;
			@extend %flex-elements-none;
			@extend %float-left;
		}

		.markedness {
			color: #feab34;
			text-shadow: 2px 2px 1px #ececec;
			@extend %font-twenty-eight;
			@extend %font-normal;

			span {
				@extend %relative;
				z-index: 0;

				&:after {
					content: '';
					top: 15px;
					right: -20px;
					width: 30px;
					height: 50px;
					z-index: -1;
					@extend %absolute;
					@include transform(-45);
					@include normalGradient(linear, top, #ececec, #fefefe);
				}
			}
		}

		.text {
			margin-top: 5px;
			color: #9b9b9b;
			z-index: 0;
			@extend %relative;
			@extend %font-twelve;
		}
	}

	.links {
		@extend %flex-box;

		li {
			width: 33.33%;
			height: 48px;
			line-height: 48px;
			@extend %flex-elements-none;
			@extend %float-left;
			@extend %font-thirteen;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			@extend %color838383;
		}
	}

	.conquer {
		@extend %font-fourteen;
		@extend %colorbebebe;

		a {
			color: #eb4a4a;
			text-decoration: underline;
		}
	}
}