@import "reset.scss";
@import "initialization.scss";

body {
	max-width: 768px;
	margin: 0 auto;
	@extend %relative;
}

.alpha {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.image {
	position: relative;
	font-size: 0;

	&:after {
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@extend %absolute;
	}
}

@import "headerUndFooter.scss";
@import "homePage.scss";