<!DOCTYPE html>
<html>
<head>
	<title>99M首页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../dist/styles/neun.css">
</head>
<body>
	<div class="hp-wrapper">
		<header id="header"></header>
		<section id="hpBanner">
			<div class="hp-banner"></div>
		</section>
		<section id="hpSearch">
			<div class="hp-search"></div>
		</section>
		<section id="hpRush">
			<div class="hp-rush"></div>
		</section>
		<section id="hpFastChoose">
			<div class="hp-fastchoose"></div>
		</section>
		<section id="hpRecommend">
			<div class="hp-recommend"></div>
		</section>
		<section id="hpExpertSolution">
			<div class="hp-expertsolution"></div>
		</section>
		<footer id="footer"></footer>
	</div>
	<div class="service-floatlayer"></div>
</body>
</html>