<!DOCTYPE html>
<html>
<head>
	<title>99M首页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../dist/styles/neun.css">
</head>
<body>
	<div class="hp-wrapper">
		<header id="header">
			<span class="area">北京</span>
			<div class="image"><img src="../dist/images/logo-99.png" width="100%" /></div>
			<div class="nav">
				<i></i>
				<ul class="nav-lists">
					<li><a href="javascript:void(0)">首页</a></li>
					<li><a href="javascript:void(0)">登录</a></li>
					<li><a href="javascript:void(0)">全部车源</a></li>
					<li><a href="javascript:void(0)">专家问答</a></li>
					<li><a href="javascript:void(0)">联系我们</a></li>
				</ul>
			</div>
		</header>
		<section id="hpBanner">
			<div class="hp-banner">
				<ul><li><div class="image"><img src="../dist/images/hp-banner.jpg" width="100%" /></div></li></ul>
			</div>
		</section>
		<section id="hpSearch">
			<div class="hp-search clear">
				<div class="search-all"><a href="javascript:void(0)">全部车源</a></div>
				<div class="search-form clear">
					<form>
						<div class="search-input"><input type="text" value="" maxlength="20" placeholder="请输入：如奥迪A6" /></div>
						<div class="search-submit"><input type="submit" value="" /></div>
					</form>
				</div>
				<ul class="search-lists">
					<li>
						<a class="clear" href="javascript:void(0)">
							<span class="series">奥迪A6L</span>
							<span class="result">约<i>13279</i>个结果</span>
						</a>
					</li>
					<li>
						<a class="clear" href="javascript:void(0)">
							<span class="series">奥迪A6L</span>
							<span class="result">约<i>13279</i>个结果</span>
						</a>
					</li>
					<li>
						<a class="clear" href="javascript:void(0)">
							<span class="series">奥迪A6L</span>
							<span class="result">约<i>13279</i>个结果</span>
						</a>
					</li>
					<li>
						<a class="clear" href="javascript:void(0)">
							<span class="series">奥迪A6L</span>
							<span class="result">约<i>13279</i>个结果</span>
						</a>
					</li>
					<li>
						<a class="clear" href="javascript:void(0)">
							<span class="series">奥迪A6L</span>
							<span class="result">约<i>13279</i>个结果</span>
						</a>
					</li>
					<li>
						<a class="clear" href="javascript:void(0)">
							<span class="series">奥迪A6L</span>
							<span class="result">约<i>13279</i>个结果</span>
						</a>
					</li>
				</ul>
			</div>
		</section>
		<section id="hpRush">
			<div class="hp-rush">
				<div class="up">
					<div class="image"><img src="../dist/images/rush.png" width="100%" /></div>
					<div class="counting" style="display:block"><span>03</span><i>天</i><span>06</span><i>小时</i><span>21</span><i>分</i></div>
					<p class="end" style="display:none">已抢完，请期待下期抢购</p>
					<div class="ing" style="display:none"><span class="text1">抢购</span><span class="text2">进行中</span></div>
				</div>
				<ul class="rush-list">
					<li>
						<a class="clear" href="javascript:void(0)">
							<span class="area">上海</span>
							<div class="image"><img src="../dist/images/car.png" width="100%" /><span class="image-alpha"></span></div>
							<div class="right-info">
								<h6 class="title">别克GL8 2.4L 手自一体 LT豪华商 务行政 2011款 7座</h6>
								<div class="prices"><span class="new"><i>17.8</i>万元</span><span class="old">24.8<i>万元</i></span></div>
								<div class="lightspot"><span>直降3000</span></div>
								<div class="lightspot-disabled" style="display:none"><span>直降3000</span></div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</section>
		<section id="hpFastChoose">
			<div class="hp-fastchoose">
				<div class="hp-title">
					<h5 class="title">快速选车</h5>
					<div class="link"><a href="javascript:void(0)">更多</a></div>
				</div>
				<ul class="hp-price-lists">
					<li><a href="javascript:void(0)"><span>5万以下</span></a></li>
					<li><a href="javascript:void(0)"><span>5-8万</span></a></li>
					<li><a href="javascript:void(0)"><span>5-8万</span></a></li>
					<li><a href="javascript:void(0)"><span>5-8万</span></a></li>
					<li><a href="javascript:void(0)"><span>5-8万</span></a></li>
					<li><a href="javascript:void(0)"><span>5-8万</span></a></li>
					<li><a href="javascript:void(0)"><span>5-8万</span></a></li>
					<li><a href="javascript:void(0)"><span>40万以上</span></a></li>
					<li><a href="javascript:void(0)"><span>SUV</span></a></li>
					<li><a href="javascript:void(0)"><span>MPV</span></a></li>
					<li><a href="javascript:void(0)"><span>准新车</span></a></li>
					<li><a href="javascript:void(0)"><span>质保车</span></a></li>
				</ul>
				<ul class="hp-brand-lists">
					<li class="brand brand-1"><a href="javascript:void(0)"><span>大众</span></a></li>
					<li class="brand brand-2"><a href="javascript:void(0)"><span>宝马</span></a></li>
					<li class="brand brand-3"><a href="javascript:void(0)"><span>奔驰</span></a></li>
					<li class="brand brand-4"><a href="javascript:void(0)"><span>奥迪</span></a></li>
					<li class="brand brand-5"><a href="javascript:void(0)"><span>别克</span></a></li>
					<li class="brand brand-6"><a href="javascript:void(0)"><span>丰田</span></a></li>
					<li class="brand brand-7"><a href="javascript:void(0)"><span>日产</span></a></li>
					<li class="more"><a href="javascript:void(0)"></a></li>
				</ul>
			</div>
		</section>
		<section id="hpRecommend">
			<div class="hp-recommend">
				<div class="hp-title">
					<h5 class="title">好车推荐</h5>
					<div class="link"><a href="javascript:void(0)">查看</a></div>
				</div>
				<ul class="hp-car-lists">
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/hp-recommend-car.jpg" width="100%" /></div>
							<div class="info">
								<h6 class="title">宝马7系 740Li宝马7系740Li宝马7系740Li</h6>
								<div class="mid-data"><span class="year"><i>2010</i>年上牌</span><span class="mile"><i>10</i>万公里</span></div>
								<div class="sub-data clear">
									<div class="services"><span class="warranty">质保</span><span class="almost-new">准新车</span></div>
									<div class="price"><span><i class="symbol">￥</i><i class="num">965.24</i><i class="unit">万</i></span></div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/hp-recommend-car.jpg" width="100%" /></div>
							<div class="info">
								<h6 class="title">宝马7系 740Li</h6>
								<div class="mid-data"><span class="year"><i>2010</i>年上牌</span><span class="mile"><i>10</i>万公里</span></div>
								<div class="sub-data clear">
									<div class="services"><span class="warranty">质保</span><span class="almost-new">准新车</span></div>
									<div class="price"><span><i class="symbol">￥</i><i class="num">65.24</i><i class="unit">万</i></span></div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/hp-recommend-car.jpg" width="100%" /></div>
							<div class="info">
								<h6 class="title">宝马7系 740Li</h6>
								<div class="mid-data"><span class="year"><i>2010</i>年上牌</span><span class="mile"><i>10</i>万公里</span></div>
								<div class="sub-data clear">
									<div class="services"><span class="warranty">质保</span><span class="almost-new">准新车</span></div>
									<div class="price"><span><i class="symbol">￥</i><i class="num">65.24</i><i class="unit">万</i></span></div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/hp-recommend-car.jpg" width="100%" /></div>
							<div class="info">
								<h6 class="title">宝马7系 740Li</h6>
								<div class="mid-data"><span class="year"><i>2010</i>年上牌</span><span class="mile"><i>10</i>万公里</span></div>
								<div class="sub-data clear">
									<div class="services"><span class="warranty">质保</span><span class="almost-new">准新车</span></div>
									<div class="price"><span><i class="symbol">￥</i><i class="num">65.24</i><i class="unit">万</i></span></div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/hp-recommend-car.jpg" width="100%" /></div>
							<div class="info">
								<h6 class="title">宝马7系 740Li</h6>
								<div class="mid-data"><span class="year"><i>2010</i>年上牌</span><span class="mile"><i>10</i>万公里</span></div>
								<div class="sub-data clear">
									<div class="services"><span class="warranty">质保</span><span class="almost-new">准新车</span></div>
									<div class="price"><span><i class="symbol">￥</i><i class="num">65.24</i><i class="unit">万</i></span></div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/hp-recommend-car.jpg" width="100%" /></div>
							<div class="info">
								<h6 class="title">宝马7系 740Li</h6>
								<div class="mid-data"><span class="year"><i>2010</i>年上牌</span><span class="mile"><i>10</i>万公里</span></div>
								<div class="sub-data clear">
									<div class="services"><span class="warranty">质保</span><span class="almost-new">准新车</span></div>
									<div class="price"><span><i class="symbol">￥</i><i class="num">65.24</i><i class="unit">万</i></span></div>
								</div>
							</div>
						</a>
					</li>
				</ul>
				<div class="load-btn"><span>全部车源</span></div>
			</div>
		</section>
		<section id="hpExpertSolution">
			<div class="hp-expertsolution">
				<div class="hp-title">
					<h5 class="title">专家问答</h5>
					<div class="link"><a href="javascript:void(0)">查看</a></div>
				</div>
				<ul class="hp-solution-lists">
					<li>
						<a href="javascript:void(0)">
							<span class="logo">问</span>
							<div class="up clear"><span class="user-info">151****9703</span><span class="resolved">已答</span></div>
							<div class="question-info"><span>来自<i class="area">唐山</i><i>2016-07-07</i><i class="time">10:43:43</i></span></div>
							<p class="question-text">车身有剐蹭，没有大事故。黑色 天津, 2011年上牌 8万公里 2011 大众CC 1.8T 手自一体 豪华车豪华车</p>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="logo">问</span>
							<div class="up clear"><span class="user-info">151****9703</span><span class="resolved">已答</span></div>
							<div class="question-info"><span>来自<i class="area">唐山</i><i>2016-07-07</i><i class="time">10:43:43</i></span></div>
							<p class="question-text">13年比亚迪F3手动标准六万三千公里 什么价位出售合适?</p>
						</a>
					</li>
				</ul>
			</div>
		</section>
		<footer id="footer">
			<ul class="advantage">
				<li><h6 class="markedness"><span>真</span></h6><p class="text">真实车源</p></li>
				<li><h6 class="markedness"><span>明</span></h6><p class="text">价格透明</p></li>
				<li><h6 class="markedness"><span>省</span></h6><p class="text">售后无忧</p></li>
			</ul>
			<ul class="links">
				<li><a href="javascript:void(0)"><span>意见反馈</span></a></li>
				<li><a href="javascript:void(0)"><span>关于99好车</span></a></li>
				<li><a href="javascript:void(0)"><span>APP下载</span></a></li>
			</ul>
			<p class="conquer">客服热线：<a href="tel:400-822-0319">400-822-0319</a></p>
		</footer>
	</div>
	<div class="service-floatlayer">
		<i class="close"></i>
		<div class="clear">
			<div class="contact-us">
				<a href="tel:400-822-0319">
					<h6 class="title">免费咨询</h6>
					<p class="number">400-822-0319</p>
				</a>
			</div>
			<div class="app-download">
				<h6 class="title">App下载<i></i></h6>
				<p class="text">严选好车 全程透明</p>
			</div>
		</div>
	</div>
</body>
</html>